<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/bin:/bin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>uz.xalyava.botd</string>
	<key>ProgramArguments</key>
	<array>
		<string>__PROJECT_DIR__/venv/bin/python</string>
		<string>__PROJECT_DIR__/botd.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/xalyava-botd.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/xalyava-botd.err</string>
	<key>ThrottleInterval</key>
	<integer>15</integer>
	<key>WorkingDirectory</key>
	<string>__PROJECT_DIR__</string>
</dict>
</plist>
